.carousel {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
}

#project_titles.carousel {
  bottom: 50vh;
}

#thumbnails.carousel {
  bottom: 18vh;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#project_titles .carousel__item {
  padding: 0 5vw 10vh 5vw;
}

#thumbnails .carousel__item img {
  max-height: 30vh;
  max-width: 70vw;
  padding-left: 5vw;
  cursor: pointer;
  opacity: 0.4;
}

#thumbnails .carousel__slide--sliding .carousel__item img {
  transition: 0.5s;
}

#thumbnails .carousel__slide--active .carousel__item img {
  opacity: 1;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  background: var(--vc-nav-background);
  border-radius: var(--vc-nav-border-radius);
  width: var(--vc-nav-width);
  height: var(--vc-nav-height);
  text-align: center;
  font-size: var(--vc-nav-height);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
  margin: 0 10px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__prev:hover,
.carousel__next:hover {
  color: var(--vc-nav-color-hover);
}

.carousel__next--disabled,
.carousel__prev--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.carousel__prev {
  left: 0;
}

.carousel__next {
  right: 0;
}

.carousel--rtl .carousel__prev {
  left: auto;
  right: 0;
}

.carousel--rtl .carousel__next {
  right: auto;
  left: 0;
}

.carousel__slide {
  scroll-snap-stop: auto;
  flex-shrink: 0;
  margin: 0;
  position: relative;
  
  display: flex;
  justify-content: start;
  align-items: end;
  
  width: auto;
  
  /* Fix iOS scrolling #22 */
  transform: translateZ(0);
}

#project_titles .carousel__slide {
  justify-content: start;
}

@media (min-width: 640px) {
  #thumbnails .carousel__item img {
    max-height: 50vh;
    max-width: 42.5vw;
  }
  #thumbnails.carousel {
    bottom: 0;
  }
}
