@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@600&display=swap');

/* purgecss start ignore */
@tailwind base;

@tailwind components;

@tailwind utilities;
/* purgecss end ignore */


@font-face {
    font-family: 'Humane';
    src: url('assets/fonts/Humane/Web-PS/Humane-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Humane/Web-PS/Humane-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Humane';
    src: url('assets/fonts/Humane/Web-PS/Humane-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Humane/Web-PS/Humane-ExtraLight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Humane';
    src: url('assets/fonts/Humane/Web-PS/Humane-Light.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Humane/Web-PS/Humane-Light.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Humane';
    src: url('assets/fonts/Humane/Web-PS/Humane-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Humane/Web-PS/Humane-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Humane';
    src: url('assets/fonts/Humane/Web-PS/Humane-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Humane/Web-PS/Humane-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Humane';
    src: url('assets/fonts/Humane/Web-PS/Humane-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Humane/Web-PS/Humane-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Humane';
    src: url('assets/fonts/Humane/Web-PS/Humane-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Humane/Web-PS/Humane-Thin.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: thin;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Humane';
    font-weight: bold;
    font-size: 10vh;
}

.link-highlight {
    border-bottom-width: 0;
    border-radius: 0.25rem;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#FF6F5F, #FF6F5F);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-highlight:hover {
    background-size: 100% 100%;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#6F5FFF, #6F5FFF);
    background-size: 0 0.1em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 5%;
}

.hidden-title {
    opacity: 0;
    margin-left: -20px;
    transition: margin-left .5s ease-in-out, opacity .5s ease-in-out;
}

.name-title:hover .hidden-title {
    opacity: 0.65;
    margin-left: 0;
}

.short-underline-coral {
    background-image: linear-gradient(#FF6F5F,#FF6F5F);
    background-size: 1.5em 0.1em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 0.35em;
}
