@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Oswald:wght@600&family=Outfit:wght@300;400;500;600&display=swap');

/* purgecss start ignore */
@tailwind base;

@tailwind components;

@tailwind utilities;
/* purgecss end ignore */

html {
    background-color: #FEF9F4;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 10vh;
}

.link-highlight {
    border-bottom-width: 0;
    border-radius: 0.25rem;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#E13F3F, #E13F3F);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-highlight:hover {
    background-size: 100% 100%;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#E13F3F, #E13F3F);
    background-size: 0 10%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 10%;
}

.red-underline {
    border-bottom: 2px solid #E13F3F;
}

@media (min-width: 640px) {
    .red-underline {
        border-bottom: 3px solid #E13F3F;
    }
}

@media (min-width: 1536px) {
    .red-underline {
        border-bottom: 4px solid #E13F3F;
    }
}
